.body{
  font-family: 'Noto Sans Thai Looped', sans-serif;
}
.main-bg{
  background-color: #F8F9FA;
}
.header-bar {
  color: #0DCAF0;
  font-size: 24px;
  font-weight: 700;
}
.header-bg{
  height: 70px;
  width: auto;
  background: #212529;
  padding-top: 12px;
  text-align: center;
}

.text-title{
  color: #282A2C;
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}